.progress {
  --v: calc(((18 / 5) * var(--progress) - 90) * 1deg);
  border: 1px solid #d80000;
  background: linear-gradient(#fff, #fff) content-box,
    linear-gradient(var(--v), #e6e4e4 50%, transparent 0) 0 /
      min(100%, (50 - var(--progress)) * 100%),
    linear-gradient(var(--v), transparent 50%, #d80000 0) 0 /
      min(100%, (var(--progress) - 50) * 100%),
    linear-gradient(to right, #e6e4e4 50%, #d80000 0);
}
